<div id="top">
    <div class="container">
        <div class="user-info text-right">
            <i class="fa fa-user"></i> <span></span>
            <span class="hidden-sm hidden-xs">
                <i class="fa fa-home"></i> <span></span>
                <i class="fa fa-calendar-o"></i> <span></span>
            </span>
        </div>

        <div class="col-sm-8">
            <div class="pull-left titulo">
                <span class="line2">{{title}}</span>
                <span class="line_sub">{{subtitle}}</span>
            </div>
        </div>

        <div class="col-sm-4 hidden-xs">
            <!--img src="assets/img/logo_seduc.png" class="pull-right img-responsive" id="logo-seduc"-->
            <i class="fa fa-envira fa-3x pull-right img-responsive" aria-hidden="true" id="logo-seduc"></i>
        </div>
    </div>
</div>